.pages {
  min-height: 1100px;

  > * {
    display: none;
  }

  > .active-page {
    display: block;
  }
}

.card-wrapper {
  width: 98vw;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
