.game {
  .game-board,
  .game-tile {
    border: 1px #fff solid;
    width: fit-content;
  }

  .game-tile {
    width: 40px;
    height: 40px;
    position: relative;
    white-space: nowrap;

    p {
      font-size: 20px;
      font-weight: 700;
      color: red;
      opacity: 80%;
      position: absolute;
      top: -50%;
      pointer-events: none;
      user-select: none;
    }
  }

  .game-tile:hover {
    transform: scale(0.95);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);
    }
  }

  .game-board {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
  }

  .game-text {
    margin-top: 120px;
  }

  .game-button,
  .game-tile {
    cursor: pointer;
  }

  .game-button {
    border: none;
    background: $color-orange;
    color: $color-main-light;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    padding: 1.1em;
    line-height: 0.5;
    letter-spacing: 2px;
    margin-top: 60px;

    &:active {
      transform: scale(0.9);
      filter: brightness(80%);
    }
  }

  .active {
    background: $color-orange;
  }

  .end-tile {
    background: $color-red;
  }

  .start-tile,
  .solved-tile {
    background: $color-green;
  }
}

@media (max-width: 768px) {
  .game {
    .game-button {
      margin-bottom: 40px;
    }
  }
}
